  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
 

  * {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif; 
  }

  :root {
    --primar-color: #bf6f13;
    --secondary-color: #e88e27;
  }

  body {
    background-color: var(--primar-color)
  }